
__pycache__/
*.py[cod]
*$py.class
models/
venv/
env/
ENV/
.venv/

.DS_Store
Thumbs.db

.ipynb_checkpoints

*.log
*.tmp

*.pkl
*.h5
*.hdf5
*.joblib
*.npy
*.npz
.env
*.env

.streamlit/
.streamlit/config.toml
*.sqlite3

.vscode/
.idea/

*.orig
